/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #011669, black);
  padding: 24px 48px;
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }
}

.welcome-section {
  margin-bottom: 32px;
  width: 100%;
  max-width: 448px;
}

.welcome-section h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

.welcome-section p {
  font-size: 20px;
  color: #d1d5db;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 448px;
}

.start-button {
  background-color: white;
  color: #011669;
  padding: 8px 24px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.start-button:hover {
  background-color: #f3f4f6;
}

.enter-text {
  display: flex;
  align-items: center;
  color: white;
}

.enter-text p {
  margin: 0;
}

.enter-text span {
  margin: 0 4px;
}

.enter-icon {
  margin-left: 4px;
  width: 10px;
  height: 10px;
}

.form-container {
  width: 100%;
  max-width: 448px;
}

.form-container h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.form-input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.form-input:focus {
  outline: none;
}

.form-textarea {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 32px;
  min-height: 100px;
  resize: none;
}

.form-textarea:focus {
  outline: none;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.service-button {
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s;
  background-color: black;
  color: white;
  border: 2px solid transparent;
}

.service-button.selected {
  border: 2px solid white;
}

.service-button:hover {
  opacity: 0.8;
}

.confirmation-section {
  width: 100%;
  max-width: 448px;
  text-align: center;
}

.confirmation-section p {
  font-size: 20px;
  color: #d1d5db;
}

